.hero {
    width: min(1400px, 92%);
    min-height: calc(100vh - 80px);

    margin: auto;

    display: grid;
    grid-template-columns: 1.05fr .95fr;

    align-items: center;

    gap: 80px;

    position: relative;
}

/* ---------------- LEFT ---------------- */

.hero-left{

    display:flex;
    flex-direction:column;
    justify-content:center;

    z-index:2;

}

.hero-tag{

    width:fit-content;

    padding:10px 18px;

    border-radius:999px;

    background:rgba(184,161,255,.07);

    border:1px solid rgba(184,161,255,.18);

    color:var(--accent);

    letter-spacing:2px;

    font-size:.82rem;

    margin-bottom:30px;

}

.hero-title{

    font-size:clamp(3rem,5vw,5rem);

    line-height:.92;

    font-weight:800;

    margin:0;

}

.hero-title span{

    color:var(--accent);

}

.hero-role{

    margin-top:25px;

    font-size:1.5rem;

    color:var(--text-secondary);

    min-height:45px;

    font-weight:500;

}

.hero-description{

    margin-top:28px;

    max-width:580px;

    font-size:1.03rem;

    line-height:1.9;

    color:var(--text-secondary);

}

/* ---------------- BUTTONS ---------------- */

.hero-buttons{

    display:flex;

    gap:18px;

    margin-top:42px;

}

.primary-btn,
.secondary-btn{

    padding:18px 30px;

    border-radius:16px;

    cursor:pointer;

    font-size:.96rem;

    font-weight:600;

    transition:.35s;

}

.primary-btn{

    background:var(--accent);

    color:#09090B;

    border:none;

    box-shadow:0 15px 40px rgba(184,161,255,.18);

    position:relative;

    overflow:hidden;

    isolation:isolate;


}

.primary-btn:hover{

    transform:translateY(-5px);

    box-shadow:0 25px 55px rgba(184,161,255,.35);

}

.secondary-btn{

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.10);

}

.secondary-btn:hover{

    border-color:var(--accent);

    color:var(--accent);

    transform:translateY(-5px);

}

/* ---------------- RIGHT ---------------- */

.hero-right{

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

}

.hero-photo-wrapper{

    position:relative;

    width:470px;

    height:560px;

    display:flex;

    justify-content:center;

    align-items:center;

    padding-top:20px;

}

/* Outer Ring */

.hero-circle{

    position:absolute;

    width:430px;

    height:430px;

    border-radius:50%;

    border:1px solid rgba(184,161,255,.18);

    animation:rotateRing 18s linear infinite;

}

/* Purple Glow */

.hero-glow{

    position:absolute;

    width:360px;

    height:360px;

    border-radius:50%;

    background:radial-gradient(

        rgba(184,161,255,.25),

        transparent 70%

    );

    filter:blur(70px);

    animation:pulseGlow 5s ease-in-out infinite;

}

@keyframes pulseGlow{

    0%{

        transform:scale(.9);

        opacity:.45;

    }

    50%{

        transform:scale(1.12);

        opacity:.9;

    }

    100%{

        transform:scale(.9);

        opacity:.45;

    }

}

@keyframes rotateRing{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

/* ---------------- RESPONSIVE ---------------- */

@media(max-width:1100px){

.hero{

grid-template-columns:1fr;

text-align:center;

gap:60px;

padding:100px 0;

}

.hero-left{

align-items:center;

}

.hero-buttons{

justify-content:center;

}

.hero-description{

max-width:700px;

}

.hero-right{

order:-1;

}

}

@media(max-width:768px){

.hero-title{

font-size:clamp(3rem,12vw,5rem);

}

.hero-role{

font-size:1.15rem;

}

.hero-buttons{

flex-direction:column;

width:100%;

}

.primary-btn,
.secondary-btn{

width:100%;

}

.hero-photo-wrapper{

width:340px;

height:420px;

}

.hero-circle{

width:300px;

height:300px;

}

.hero-glow{

width:260px;

height:260px;

}

}

.primary-btn::before{

content:"";

position:absolute;

inset:0;

background:

linear-gradient(
90deg,
transparent,
rgba(255,255,255,.35),
transparent);

transform:translateX(-150%);

transition:.8s;

}

.primary-btn:hover::before{

transform:translateX(150%);

}

.hero-link{

    position:absolute;

    left:-180px;

    top:50%;

    transform:translateY(-50%);

    display:flex;

    align-items:center;

    gap:12px;

    opacity:.45;

}

.hero-link span{

    font-size:.75rem;

    letter-spacing:3px;

    color:var(--accent);

    white-space:nowrap;

}

.hero-line{

    width:140px;

    height:1px;

    background:linear-gradient(
        90deg,
        rgba(184,161,255,.7),
        transparent
    );

    position:relative;

    overflow:hidden;

}

.hero-line::after{

    content:"";

    position:absolute;

    width:40px;

    height:100%;

    background:white;

    animation:lineMove 2.8s linear infinite;

}

@keyframes lineMove{

    from{

        left:-40px;

    }

    to{

        left:140px;

    }

}

/* ===========================
   Hero Stats
=========================== */

.hero-stats{

    display:flex;

    align-items:center;

    gap:28px;

    margin-top:48px;

}

.stat-item{

    display:flex;

    flex-direction:column;

}

.stat-item h2{

    margin:0;

    font-size:2.2rem;

    font-weight:700;

    color:var(--accent);

    letter-spacing:1px;

}
.stat-item p{

    margin-top:10px;

    color:var(--text-secondary);

    font-size:.72rem;

    letter-spacing:2px;

    text-transform:uppercase;

}

.stat-divider{

    width:1px;

    height:45px;

    background:rgba(255,255,255,.08);

}

/* Tablet */

@media(max-width:992px){

.hero-stats{

justify-content:center;

}

}

/* Mobile */

@media(max-width:768px){

.hero-stats{

    display:flex;

    align-items:center;

    gap:28px;

    margin-top:30px;

}

.stat-divider{

display:none;

}

}