.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: transparent;

    transition:
        background .35s ease,
        backdrop-filter .35s ease,
        box-shadow .35s ease,
        border-color .35s ease;
}

.navbar-container{

    max-width: 1250px;
    margin: auto;

    padding: 16px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.logo{

    font-size:1.5rem;

    font-weight:700;

    color:#F5F5F4;

    text-decoration:none;

    transition:
        transform .35s ease,
        color .35s ease;

}
.logo:hover{

    transform:scale(1.05);

}

.logo span{

    color:#B8A1FF;

}

.nav-links{

    display:flex;
    gap:35px;

}

.nav-links a{
    position: relative;

    color:#A1A1AA;
    text-decoration:none;

    font-size:.95rem;
    font-weight:500;

    transition:
        color .3s ease,
        transform .3s ease;
}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#B8A1FF;

    border-radius:999px;

    transition:width .35s ease;

}

.nav-links a:hover{

    color:#F5F5F4;

}
.nav-links a:hover::after{

    width:100%;

}
.nav-links a.active{
    color: #F5F5F4;
    position: relative;
}

.nav-links a.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #B8A1FF;
    border-radius: 999px;
}

.navbar.scrolled{

    backdrop-filter: blur(18px);

    background: rgba(9,9,11,.72);

    border-bottom: 1px solid rgba(255,255,255,.08);

    box-shadow:
        0 10px 30px rgba(0,0,0,.18);

}